certifi==2024.7.4
charset-normalizer==3.3.2
idna==3.7
jq==1.7.0
markdown-it-py==3.0.0
marshmallow==3.26.1
mdurl==0.1.2
packaging==24.2
pydash==8.0.1
Pygments==2.19.1
python-dateutil==2.9.0.post0
requests==2.32.3
rich==13.9.4
six==1.17.0
timeago==1.0.16
typing_extensions==4.12.2
urllib3==2.2.2
